In [1]:
import pandas as pd

In [2]:
neural_network=pd.read_csv('gas_turbines.csv')
neural_network

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

In [3]:
X=neural_network.drop(['TEY'],axis=1)
y=neural_network['TEY']

In [4]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [5]:
scaler.fit(X)

StandardScaler()

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [11]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Activation,Layer,Lambda

In [16]:
model = Sequential()
model.add(Dense(units=20,activation='relu'))
model.add(Dense(units=40,activation='tanh'))
model.add(Dense(units=10,activation='softmax'))

In [17]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mse'])

In [19]:
model.fit(X_train,y_train,epochs=10)

Epoch 1/10
376/376 [==============================] - 2s 3ms/step - loss: 18249.5723 - mse: 18249.5723
Epoch 2/10
376/376 [==============================] - 1s 2ms/step - loss: 18249.5703 - mse: 18249.5703
Epoch 3/10
376/376 [==============================] - 1s 2ms/step - loss: 18249.5762 - mse: 18249.5762
Epoch 4/10
376/376 [==============================] - 1s 2ms/step - loss: 18249.5723 - mse: 18249.5723
Epoch 5/10
376/376 [==============================] - 1s 2ms/step - loss: 18249.5762 - mse: 18249.5762
Epoch 6/10
376/376 [==============================] - 1s 2ms/step - loss: 18249.5781 - mse: 18249.5781
Epoch 7/10
376/376 [==============================] - 1s 2ms/step - loss: 18249.5762 - mse: 18249.5762
Epoch 8/10
376/376 [==============================] - 1s 3ms/step - loss: 18249.5762 - mse: 18249.5762
Epoch 9/10
376/376 [==============================] - 1s 2ms/step - loss: 18249.5801 - mse: 18249.5801
Epoch 10/10
376/376 [==============================] - 1s 2ms/step - loss: 18249.5703 - mse: 18249.5703

In [20]:
scores=model.evaluate(X_test,y_test)
scores

94/94 [==============================] - 0s 2ms/step - loss: 18153.0957 - mse: 18153.0957

[18153.095703125, 18153.095703125]